html{
  height: 100%;
}
body {
  margin: 0;
  height: 100%;
  background-position: center;
  background-size: cover;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.dev/svgjs' width='2500' height='1250' preserveAspectRatio='none' viewBox='0 0 2500 1250'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1033%26quot%3b)' fill='none'%3e%3crect width='2500' height='1250' x='0' y='0' fill='rgba(63%2c 63%2c 121%2c 1)'%3e%3c/rect%3e%3cpath d='M626 142.89C574.4 142.89 512.59 237.19 512.59 313C512.59 366.21 572.31 400.92 626 400.92C672.01 400.92 711.99 363.6 711.99 313C711.99 234.58 674.1 142.89 626 142.89' stroke='rgba(19%2c 209%2c 149%2c 1)' stroke-width='2'%3e%3c/path%3e%3cpath d='M2191 233.51C2147.27 233.51 2115.12 270.53 2115.12 313C2115.12 363.55 2145.05 419.55 2191 419.55C2252.55 419.55 2330.11 361.59 2330.11 313C2330.11 268.57 2254.76 233.51 2191 233.51' stroke='rgba(19%2c 209%2c 149%2c 1)' stroke-width='2'%3e%3c/path%3e%3cpath d='M142.27 626C142.27 574.03 34.43 584.96 0 509.21C-36.7 428.46 0 411.11 0 313C0 156.5 -78.25 78.25 0 0C78.25 -78.25 156.5 0 313 0C469.5 0 469.5 0 626 0C782.5 0 782.5 0 939 0C1095.5 0 1095.5 0 1252 0C1408.5 0 1408.5 0 1565 0C1721.5 0 1721.5 0 1878 0C2034.5 0 2034.5 0 2191 0C2347.5 0 2425.75 -78.25 2504 0C2582.25 78.25 2504 156.5 2504 313C2504 469.5 2504 469.5 2504 626C2504 782.5 2504 782.5 2504 939C2504 1034.26 2524.22 1039.66 2504 1129.52C2489.01 1196.16 2491.18 1229.46 2433.58 1252C2334.68 1290.7 2312.29 1252 2191 1252C2034.5 1252 2034.5 1252 1878 1252C1756.93 1252 1741.73 1282.98 1635.87 1252C1585.23 1237.18 1599.08 1160.39 1565 1160.39C1532.35 1160.39 1550.45 1237.94 1502.4 1252C1393.95 1283.74 1377.2 1252 1252 1252C1132.76 1252 1113.02 1288.4 1013.52 1252C956.52 1231.15 982.61 1137.49 939 1137.49C886.66 1137.49 892.99 1225.89 821.63 1252C736.49 1283.15 723.82 1252 626 1252C528.19 1252 521.31 1274.73 430.38 1252C364.81 1235.61 379.7 1181.93 313 1173.75C164.51 1155.55 85.58 1263.43 0 1199.25C-70.92 1146.06 0 1069.13 0 939C0 822.02 -41.95 797.34 0 705.04C29.18 640.84 142.27 671.95 142.27 626' stroke='rgba(19%2c 209%2c 149%2c 1)' stroke-width='2'%3e%3c/path%3e%3cpath d='M1565 524.61C1518.29 524.61 1470.28 571.71 1470.28 626C1470.28 691.63 1518.46 764.44 1565 764.44C1610.81 764.44 1654.99 691.85 1654.99 626C1654.99 571.94 1610.64 524.61 1565 524.61' stroke='rgba(19%2c 209%2c 149%2c 1)' stroke-width='2'%3e%3c/path%3e%3cpath d='M293.84 0C315.33 2.93 305.54 20.53 313 42.68C358.22 177.03 321.39 202.1 399.19 313C477.89 425.18 518.63 488.84 626 488.84C718.02 488.84 790.49 415.36 797.98 313C808.37 170.94 622.86 86.36 661.77 0C693.37 -70.14 800.38 0 939 0C1095.5 0 1095.5 0 1252 0C1252 0 1252 0 1252 0C1408.5 18.06 1411.39 36.12 1565 36.12C1607.02 36.12 1601.22 4.85 1643.25 0C1757.72 -13.21 1760.63 0 1878 0C2034.5 0 2034.5 0 2191 0C2347.5 0 2417.43 -69.93 2504 0C2573.93 56.48 2570.26 229.67 2504 252.81C2413.76 284.32 2330.57 92.74 2191 109.3C2076.85 122.84 1996.56 204.17 1996.56 313C1996.56 442.54 2084.01 460.46 2191 586.04C2217.35 616.96 2234.26 597.11 2263.23 626C2390.76 753.18 2395.78 757.48 2504 898.17C2516.16 913.98 2504 918.59 2504 939C2504 949.2 2508.8 950.49 2504 959.41C2424.68 1106.99 2445.28 1149.62 2335.76 1252C2288.78 1295.91 2263.38 1252 2191 1252C2034.5 1252 2034.5 1252 1878 1252C1830.76 1252 1816.25 1281.55 1783.51 1252C1659.75 1140.32 1670.09 969.54 1565 969.54C1464.32 969.54 1487.85 1147.44 1371.98 1252C1331.35 1288.67 1311.99 1252 1252 1252C1194.86 1252 1175.09 1288.45 1137.73 1252C1018.59 1135.77 1040.96 1096.49 939 946.63C934.48 939.99 932.33 941.83 924.77 939C775.83 883.24 768.56 829.45 626 829.45C539.01 829.45 545.84 884.22 465.68 939C389.34 991.16 398.22 1011.79 313 1043.33C165.38 1097.96 101.75 1145.25 0 1111.33C-54.75 1093.08 0 1025.16 0 939C0 861.54 -45.88 834.54 0 784.08C96.4 678.04 284.55 717.9 284.55 626C284.55 522.07 117.03 521.15 0 392.42C-25.25 364.65 0 352.71 0 313C0 156.5 -75.78 80.72 0 0C71.14 -75.78 158.83 -18.41 293.84 0' stroke='rgba(19%2c 209%2c 149%2c 1)' stroke-width='2'%3e%3c/path%3e%3cpath d='M1565 414.39C1467.51 414.39 1367.32 512.7 1367.32 626C1367.32 762.97 1467.87 914.92 1565 914.92C1660.61 914.92 1752.8 763.43 1752.8 626C1752.8 513.16 1660.25 414.39 1565 414.39' stroke='rgba(19%2c 209%2c 149%2c 1)' stroke-width='2'%3e%3c/path%3e%3cpath d='M134.14 0C134.14 75.09 36.05 226.66 0 226.66C-31.02 226.66 -42.13 71.2 0 0C24.94 -42.13 134.14 -38.24 134.14 0' stroke='rgba(19%2c 209%2c 149%2c 1)' stroke-width='2'%3e%3c/path%3e%3cpath d='M883.97 313C866.98 159.21 861.85 133.6 885.34 0C889.37 -22.9 912.17 0 939 0C969.29 0 976.87 -18.31 999.58 0C1133.37 107.9 1106.94 159.22 1252 252.42C1350.52 315.72 1484.36 240.71 1486.75 313C1490.54 427.5 1286.03 460.69 1264.36 626C1245 773.69 1407.86 785.11 1404.68 939C1401.68 1083.88 1326.29 1223.55 1252 1223.55C1178.81 1223.55 1124.27 1087.03 1109.73 939C1094.92 788.26 1238.32 745.51 1193.31 626C1152.96 518.85 1034.24 582.06 939 485.69C879.57 425.56 893.81 402.05 883.97 313' stroke='rgba(19%2c 209%2c 149%2c 1)' stroke-width='2'%3e%3c/path%3e%3cpath d='M497.12 626C497.12 596.52 560.69 576.76 626 576.76C706.28 576.76 788.3 596.17 788.3 626C788.3 657.3 705.46 699.03 626 699.03C559.87 699.03 497.12 657.65 497.12 626' stroke='rgba(19%2c 209%2c 149%2c 1)' stroke-width='2'%3e%3c/path%3e%3cpath d='M1850.61 626C1857.43 469.2 1850.52 313 1878 313C1906.35 313 1878.24 498.82 1962.27 626C2034.74 735.69 2084.92 696.89 2191 786.73C2269.71 853.39 2322.74 848.67 2331.85 939C2346.21 1081.31 2299.53 1115.16 2237.95 1252C2229.1 1271.66 2214.48 1252 2191 1252C2101.57 1252 2071.96 1300.94 2012.14 1252C1915.46 1172.9 1944.23 1124.38 1878 995.91C1863.55 967.88 1853.08 970.02 1850.78 939C1839.38 785.07 1843.82 782.2 1850.61 626' stroke='rgba(19%2c 209%2c 149%2c 1)' stroke-width='2'%3e%3c/path%3e%3cpath d='M0 863.12C101.09 863.12 259.03 899.12 259.03 939C259.03 979.26 98.88 1023.4 0 1023.4C-30.63 1023.4 0 981.2 0 939C0 901.06 -28.42 863.12 0 863.12' stroke='rgba(19%2c 209%2c 149%2c 1)' stroke-width='2'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1033'%3e%3crect width='2500' height='1250' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");
}

.app-container {
  padding-left: 20px;
  padding-right: 20px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sticky-title {
  position: sticky;
  top: 0;
  color: white;
  z-index: 1;
}

.nav-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(123, 131, 209);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 10px 20px;
  margin-bottom: 20px;
  position: sticky; 
  top: 0;
  width: 100%;
}

.refresh-button {
  background-color: #4CAF50;
  color: white;
  border: none;
  padding: 10px 15px;
  font-size: 16px;
  cursor: pointer;
}

.refresh-button:hover {
  background-color: #45a049;
}

.tours-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  width: 100%;
  justify-content: center;
  margin-top: 0;
}

.tour-container {
  display: flex;
  flex-direction: column;
  width: 30%;
  background-color: rgb(123, 131, 209);
  color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}

.tour-image {
  width: 100%;
  height: 20rem;
  object-fit: cover;
}

.tour-details {
  padding: 15px;
  text-align: center;
}

.not-interested-button {
  background-color: red;
  color: white;
  border: none;
  padding: 10px 15px;
  font-size: 16px;
  cursor: pointer;
}

.not-interested-button:hover {
  background-color: darkred;
}